@import url('https://fonts.googleapis.com/css?family=Poiret+One');

html, body{
    height: 100%;
}

/** section complète **/
#about-me{
    background-image: url("../img/bureau2.jpeg");
    background-repeat: no-repeat; 
    background-position: center; 
    background-size: cover;
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center; 
    align-items: center;
    font-family: 'Poiret One', cursive;  
}

/** img illustration **/
#about-me img{
    margin: 0px 0px 0px 20px;
}

/** article avec bullet point **/
#about-me article{
    display: flex;
    flex-direction: column;
    justify-content: center; 
    align-items: center;
    background: rgba(158, 157, 157, 0.4);
    color: black;
    font-size: 18px;
    margin: 0px 20px 0px 20px;    
}

/** titre article **/
#about-me article h1{
    color: white;
}

/** design illustration portrait **/
.laure{
    border-radius: 50px;
    border-color: black;
    border-style: dotted;
    border-width: 2px;  
    cursor: pointer;
    filter: grayscale(100%);
}

span{
    font-weight: bold;
    color: white;
}

.laure:hover{
    width:220px;
    height:300px;
    filter: grayscale(0%);
    transition: all 0.3s cubic-bezier(.01,.4,1,.62);
}


