@import url('https://fonts.googleapis.com/css?family=Poiret+One');

html, body{
    height: 100%;
    margin: 0;
    background-size: cover;
}

#title{
    background-image:url("../img/makeup3.jpeg");
    height: 100%;
    width: 100%;
    background-size:cover;    
    background-repeat: no-repeat; 
    background-position: center;        
    display: flex;
    flex-direction: column;
    background-attachment: absolute;
}

#title h1{
    text-align: center;
    font-size: 50px;
    font-family: 'Poiret One', cursive;
    margin-top: 20%;
    letter-spacing: 3px;
    animation: enter 2s ease-in-out infinite alternate;  
}

#tuto{
    background-color: black; 
    padding:20px;
    display: flex;
    flex-direction: column;
    justify-content: center; 
    align-items: center;
    background-attachment: scroll;
}

#tuto article{
    font-family: 'Poiret One', cursive;   
    font-size:20px;
}

#tuto article h2{
    border-style: dotted;
    border-color: white;
    color: white;
    border-radius: 8px;
    padding: 5px 10px 5px 10px; 
    text-align: center;
    width: 25%;
}

#tuto article h3{
    color: white;
    text-align: center;
    font-size: 20px;
    font-weight: normal;   
}


#tuto p{
    text-align: justify;
    padding: 0px 10px 0px 10px;    
    color: white;
}


span{
    color:#A82525;
}

/* pour retirer le soulignage et la couleur des liens */
a{ 
    text-decoration: none; 
    color:#A82525;
}
/*mouse over link*/
#tuto article h3 a:hover {
    font-weight: bold;
}

#autres_sujets{
    font-family: 'Poiret One', cursive;    
    border-width: 5px;
}

/* pour avoir les photos des autres sujets au milieu */
#autres_sujets{
    height: 50%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center; 
    align-items: center;
}

/** texte "Vous aimerez peut-être" **/
#autres_sujets article h2{
    color: #A82525;
    font-size: 20px;          
}

#autres_sujets article a href{
    display: flex;
    flex-direction: row;
    justify-content: space-around; 
    align-items: center;
    padding: 0px 20px 0px 20px;
}

/* définition de l'animation */
@keyframes enter {
    from {
        opacity: 0;
}
    to {
        opacity: 1;
    }
}

    