@import url('https://fonts.googleapis.com/css?family=Poiret+One');

html, body{
    height: 100%;
}

/** en tête image **/
#title{
    height: 100%;
    width: 100%;
    background-image:url("../img/baking.jpg");
    background-size:cover;    
    background-repeat: no-repeat; 
    background-position: center;        
    display: flex;
    flex-direction: column;
    background-position: absolute;
    background-attachment: fixed;
}

/** titre animé "les muffins maison" **/
#title h1{
    text-align: left;
    font-size: 40px;
    font-family: 'Poiret One', cursive;
    margin-top: 38%;
    margin-left: 30px;
    letter-spacing: 3px;
    animation: enter 2s ease-in-out 1 alternate;  
    color: white;
}

#recette{
    height: 130%;
    width: 100%;       
    display: flex;
    flex-direction: row;
    justify-content: center; 
    align-items: center;
    background-color:white;
}

#recette article{
    font-family: 'Poiret One', cursive;   
    padding : 0px 20px 0px 20px;
}

/** titre "incroyable recette" **/
#recette article h2{
    font-size:30px;
    text-align: center;
    color:#A82525;
}

/** description recette **/
#recette article p{
    font-size:20px;
    color:black;
    text-align: center;
    font-weight: normal;
}

/** sous titre ingrédients & préparation **/
#recette article h3{
    font-size:20px;
    color:#A82525;
    font-weight: bold;
    text-decoration: underline; 
}

/** conseils & variantes **/
#recette article p{
    font-size:20px;
    color:black;
    font-weight: normal;
    text-align: justify;
}

/** liste **/
#recette li{
    font-size:20px;
    color:black;
    text-align: left;
}

#recette ul{
    padding: 0px 0px 0px 75px;
}

#recette ol{
    padding: 0px 0px 0px 75px;
}

span{
    font-weight: bold;
    text-decoration: underline; 
}

#photo{
    display: flex;
    flex-direction: row;
    justify-content: center; 
    align-items: center;
    padding: 20px 0px 20px 0px;
    background-color: black;
}

/** autres sites **/

#sites{
    padding: 20px 0px 0px 15px;
}

#sites p{
    font-family: 'Poiret One', cursive;   
    font-size:20px;
    color:black;
}

/*mouse over link*/
a:hover {
    font-weight: bold;
}

/* pour retirer le soulignage et la couleur des liens */
a{ 
    text-decoration: none; 
    color:#A82525;
}


/** texte "Vous avez aimé ? Laisser un commentaire" **/
#form h2{
    color: #A82525;
    font-family: 'Poiret One', cursive; 
    padding: 0px 0px 10px 10px;
    text-align: center;
}

@keyframes enter {
    from {
        transform: translateX(-300px);        
}
    to {
        transform: translateX(0px);
    }
}

