@import url('https://fonts.googleapis.com/css?family=Poiret+One');

html, body{
    height: 100%;

}

#title{
    background-image:url("../img/art1.jpg");
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: left; 
    align-items: left;
    background-size:cover;    
    background-repeat: no-repeat; 
    background-position: center;        
    background-attachment: fixed;
}

#title h1{
    text-align: left;
    font-size: 50px;
    font-family: 'Poiret One', cursive;
    margin-left: 3%;
    margin-top: 10%;
    letter-spacing: 3px;
    animation: enter 2s ease-in-out 1 alternate;  
    color: white;
}

/** texte d'introduction **/
#intro{
    width: 100%;
    height: 90%;
    background-color: black;
}

#intro h2{
    color: yellow;
    font-family: 'Poiret One', cursive;
    font-size: 30px;
    text-align: center;
    margin: 0px 20px 0px 20px;
    padding: 20px;
}

#intro p{
    color: white;
    font-family: 'Poiret One', cursive;
    font-size: 18px;
    text-align: justify;
    padding: 0px 20px 20px 20px;
}

/** sur SHANE TURNER **/
#article1{
    height: 50%;
    display: flex;
    flex-direction: row;
    justify-content: space-between; 
    align-items: center;
    background-image: url("../img/paint.jpg");
    /** mettre  background-image: url"(../img/shane.jpg)"  quand autorisation **/
    background-repeat: no-repeat;
    background-size: 35%;
    background-position: 89%;
    background-color:black;

}

#article1 article{
    height: 100%;
    width: 50%;
    background-color:white;
    font-family: 'Poiret One', cursive;
    font-size: 20px;
    text-align: center;
}

#article1:hover{
    filter: grayscale(100%);
}
/** mettre #article1:hover{background-image: url"(../img/nyc.jpg)"  quand autorisation **/


#article1 p{
    text-align: justify;
    padding: 0px 20px 0px 20px;
}

#article1 p a{
    text-decoration: none;
    color:#A82525;
}

#article1 p a:hover{
    font-weight:bold;
}

/** sur GUISEPPE CRISTIANO **/
#article2{
    height: 50%;
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between; 
    align-items: center;
    background-image:url("../img/paint2.jpg");
   /** mettre  background-image: url("../img/giuseppe.png")  quand autorisation **/
    background-repeat: no-repeat;
    background-size: 35%;
    background-color: black;
    background-position: 13%;
}

#article2:hover{
    filter: grayscale(100%);
}
    /** mettre #article2:hover{ background-image: url("../img/woman.jpg")  quand autorisation **/


#article2 article{
    height: 100%;
    width:50%;
    background-color:white;
    font-family: 'Poiret One', cursive;
    font-size: 18px;
    text-align: center;
}

#article2 p{
    font-size: 20px;
    text-align: justify;
    padding: 0px 20px 0px 20px;
}

#article2 p a{
    text-decoration: none;
    color:#A82525;
}

#article2 p a:hover{
    font-weight: bold;
}

/** Pauline **/
#merci{
    width: 100%;
    height: 10%;
    background-color: black;
}

#merci h4{
    color: white;
    font-family: 'Poiret One', cursive;
    font-size: 18px;
    text-align: center;
    margin: 0px 20px 0px 20px;
    padding: 30px;
    font-weight: normal;
}

#merci h4 a{
    text-decoration:none;
    color: yellow;
}

#merci h4 a:hover{
    font-weight:bold;
}

/** autres liens du site **/
#autres_sujets{
    height: 50%;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around; 
    align-items: center;
    background-color: black;
}

#autres_sujets h2{
    font-family: 'Poiret One', cursive;
    font-size: 22px;
    color:yellow;
}

#autres_sujets p{
    filter: grayscale(100%)
}

#autres_sujets p:hover{
    filter:grayscale(0%);
}


/* définition de l'animation */
@keyframes enter {
    from {
        opacity: 0;
}
    to {
        opacity: 1;
    }
}

    