@import url('https://fonts.googleapis.com/css?family=Indie+Flower');
@import url('https://fonts.googleapis.com/css?family=Pacifico');
@import url('https://fonts.googleapis.com/css?family=Shadows+Into+Light');
@import url('https://fonts.googleapis.com/css?family=Poiret+One');

html, body{
    height: 100%;
}

#title{
    background-image: url("../img/bags.jpg");
    background-repeat: no-repeat; 
    background-position: center; 
    background-size: cover;
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center; 
    align-items: center;
}

#title h1{
    font-family: 'Poiret One', cursive;
    font-size: 50px;
    background-color: white;
    padding: 20px 20px 20px 20px;
    text-align: center;
    border: black;
    border-style: double;
}

#intro{
    height: 20%;
    width: 100%;
    background-color:white;
    font-family: 'Poiret One', cursive;

}

#intro article h2{
    color: pink;
    margin: 0px 20px 0px 20px;
    padding: 20px;
    text-align: center;
}

#intro article p{
    color: black;
    padding: 0px 20px 20px 20px;
    text-align: justify;
    font-size: 18px;
}

