@import url('https://fonts.googleapis.com/css?family=Poiret+One');

html, body{
    margin: 0;
}


/*barre du menu*/
#menu{
    position: fixed;
    width: 100%;
    height: 50px;
    top: 0px;
    bottom: 0px;
    display: flex;
    flex-direction: row;
    justify-content: center; 
    align-items: center;
    background-color: black;
    z-index: 1; /* pour que le bandeau de menu soit au premier plan */
}

/*bouton du menu*/
#menu a{
    color: white;
    cursor: pointer;
    font-family: 'Poiret One', cursive;
    font-size: 20px;  
    width: 100%;  
    border: none;
    padding: 12px 16px;
    text-align: center;
}


/*quand on passe la souris sur le bouton*/
#menu a:hover{
    background-color: darkgray;
}

/*bas de page copyright*/
footer{
    background-color:black;
    height: 5%;
    color: white;
    text-align: center;
    font-family: 'Poiret One', cursive; 
    display: flex;
    flex-direction: row;
    justify-content: center; 
    align-items: center;
    padding:15px;
}

